<div class="container">
    <div class="contents">
      <div class="landing-page">
        <div class="welcome">
          <h2>Forgot Password?</h2>
          <img
            src="../../../assets/forgetPassword.svg"
            alt="illustration-todo"
            height="300"
            width="400"
          />
          <p>
            Dont worry, we will send you an email with a link to reset your password.
          </p>
        </div>
      </div>
    
      <div class="form-container">
        <form [formGroup]="forgetPasswordForm" class="form">
          <h1>Enter your registered email</h1>
    
          <mat-form-field class="matformfield">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
          <p class="error">{{ errorEmail }}</p>
    
          <div class="actionBtn">
            <button type="submit" class="addBtn" (click)="verify()">Verify</button>
            <!-- <button type="submit" class="resetBtn" (click)="resetForm()">Reset</button> -->
          </div>
        </form>
      </div>
    </div>
    
    <app-footer></app-footer>
  </div>
  