<!-- explore.component.html -->

<div class="explore-container">
  <div class="tab-group">
    <div class="tab" label="Users">
      <div class="user-list">
        <div class="card" *ngFor="let user of exploreUsers">
          <div class="card-header">
            <div class="user-avatar">
              <img [src]="user.profile_image_url" alt="{{ user.name }}" />
            </div>
            <div class="user-info">
              <div class="card-title">{{ user.name }}</div>
              <div class="card-subtitle">@{{ user.screen_name }}</div>
              <p>Location: {{ user.location }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab" label="Topics">
      <div class="topic-list">
        <div class="chip-list">
          <div class="chip" *ngFor="let topic of exploreTopics">
            {{ topic.topic }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
