<div class="navbar">
  <div class="logo" routerLink="/todos">
    <h1>DZ TODO</h1>
  </div>

  <div class="menus">

    <div class="toolbar" *ngIf="loggedIn;">
      <div class="category">
        <ul>
          <li [class.focused]="button1Focused" class="buttonToLoadTodos" (click)="onButtonClick(1)">Active</li>
          <li [class.focused]="button2Focused" class="buttonToLoadTodos" (click)="onButtonClick(2)">Completed</li>
        </ul>          
      </div>
    </div>
    <div [matMenuTriggerFor]="menu" *ngIf="loggedIn; else loggedOut">

      

      <img src="{{ userImage }}" alt="avatar" class="avatar" />
      <h2>{{ username }} &#x25BC;</h2>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <i class="fa fa-user" aria-hidden="true"></i>Profile
        </button>
        <button mat-menu-item (click)="logout()">
          <i class="fa fa-power-off" aria-hidden="true"></i>Logout
        </button>
      </mat-menu>

      
    </div>

    

    <ng-template #loggedOut>
      <ul>
        <li class="login"><a routerLink="/login">Login</a></li>
        <li class="signup"><a routerLink="/signup">Sign up</a></li>
      </ul>
    </ng-template>
  </div>
</div>

