.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #fff;
  width: 35vw;
  height: 76vh;
  margin-top: 4vh;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.profile-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}
.image-uploader-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile-info-box {
  padding: 30px;
}
.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 35w;
  margin-bottom: 10px;
}
.profile-info p {
  margin-left: 10px;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.fa {
  margin-left: 0;
}
.back {
  cursor: pointer;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.271);
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back:hover{
  background-color: rgba(218, 214, 214, 0.203);
}
.back-btn{
  top: 95px;
  position: absolute;
}
.pass-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pass-edit div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pass-edit button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  font-size: 0.8rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}
.pass-edit button:hover {
  background-color: rgba(234, 230, 230, 0.848);
}
.pass-edit button:active {
  box-shadow: 1px 1px 5px rgba(125, 124, 124, 0.5);
}
input{
  margin-left: 10px;
}
.deleteBtn button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  font-size: 1rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  color: red;
}
.deleteBtn button:hover {
  background-color: rgba(234, 230, 230, 0.848);
}
.deleteBtn button:active {
  box-shadow: 1px 1px 5px rgba(125, 124, 124, 0.5);
}

@media screen and (max-width: 480px) {
  .container{
    height: 93vh;
  }
  .profile-info {
    width: 100%;
  }
  .profile{
    width: 90%;
    margin-bottom: 0;
  }
  .back {
    margin: 5px;
    width: 15px;
    height: 15px;
  }
  .pass-edit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
}
