<div class="container">
  <div class="profile">
    <div class="back-btn">
      <i
        class="fa fa-chevron-left back"
        aria-hidden="true"
        routerLink="/todos"
      ></i>
    </div>
    <div class="profile-img">
      <img
        src="{{ selectedFile }}"
        alt="default-user"
        height="100"
        width="100"
        class="avatar"
      />
      <form [formGroup]="galleryForm" (ngSubmit)="onFormSubmit()">
        <div class="image-uploader-section">
          <mat-form-field>
            <ngx-mat-file-input
              formControlName="imageFile"
              placeholder="Select Image"
              valuePlaceholder="No image file selected"
            ></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
          </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="primary">
          Upload
        </button>
      </form>
    </div>
    <div class="profile-info-box">
      <div class="profile-info pass-edit">
        <div>
          <i class="fa fa-address-card fa-lg" aria-hidden="true"></i>
          <p>Role</p>
        </div>
        <p>{{ role }}</p>
      </div>

      <div class="profile-info pass-edit">
        <div [formGroup]="usernameForm" appearance="fill">
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
          <p *ngIf="hiddenUsername">{{ username }}</p>
          <input
            matInput
            type="text"
            *ngIf="hiddenInputUsername"
            formControlName="username"
          />
        </div>
        <button (click)="updateUsername()" *ngIf="editBtnUser">Edit</button>
        <button (click)="saveNewUsername()" *ngIf="saveBtnUser">Save</button>
      </div>

      <div class="profile-info pass-edit">
        <div [formGroup]="emailForm" appearance="fill">
          <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
          <p *ngIf="hiddenEmail">{{ email }}</p>
          <input
            matInput
            type="email"
            formControlName="email"
            *ngIf="hiddenInputEmail"
          />
        </div>
        <button disabled (click)="updateEmail()" *ngIf="editBtnEmail">
          Edit
        </button>
        <button (click)="saveNewEmail()" *ngIf="saveBtnEmail">Save</button>
      </div>

      <div class="profile-info pass-edit">
        <div>
          <i class="fa fa-key fa-lg" aria-hidden="true"></i>
          <p>********</p>
        </div>
        <button routerLink="/updateCurrentUserPassword">Edit</button>
      </div>

      <div class="deleteBtn">
        <button (click)="deleteAccount()">Delete Account</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
