<div class="container">
  <div class="contents" *ngIf="signupContainer">
    <div class="landing-page">
      <div class="welcome">
        <h2>Welcome to squawk</h2>
        <img
          src="../../../assets/signupPage.svg"
          alt="illustration-todo"
          height="300"
          width="400"
        />
        <h3>
          Squawk is a twitter clone that allows you to share your thoughts with
          the world.
        </h3>
      </div>
    </div>

    <div class="form-container">
      <form [formGroup]="signupForm" class="form">
        <h1>Register</h1>

        <div class="form-line">
          <mat-form-field class="matformfield">
            <mat-label>Username</mat-label>
            <input
              matInput
              formControlName="username"
              maxlength="15"
              minlength="5"
            />
          </mat-form-field>
          <p class="error">{{ errorUsername }}</p>
        </div>

        <div class="form-line">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              type="email"
              name="email"
              email="true"
            />
          </mat-form-field>
          <p class="error">{{ errorEmail }}</p>
        </div>
        <div class="form-line">
          <mat-form-field class="matformfield">
            <mat-label>Password</mat-label>
            <div class="password">
              <input
                matInput
                type="password"
                formControlName="password"
                maxlength="15"
                minlength="8"
              />
            </div>
          </mat-form-field>
          <p class="error">{{ errorPassword }}</p>
        </div>

        <div class="form-line">
          <mat-form-field class="matformfield">
            <mat-label>Confirm Password</mat-label>
            <div class="password">
              <input
                matInput
                [type]="show ? 'text' : 'password'"
                formControlName="passwordConfirm"
                maxlength="15"
                minlength="8"
              /><i
                class="far fa-eye"
                *ngIf="eyeShown"
                id="togglePassword"
                (click)="passwordShown()"
              ></i>
              <i
                class="far fa-eye-slash"
                (click)="passwordHidden()"
                *ngIf="eyeHidden"
                aria-hidden="true"
              ></i>
            </div>
          </mat-form-field>
          <p class="error">{{ errorPasswordConfirm }}</p>
        </div>

        <div class="actionBtn">
          <button type="submit" class="addBtn" (click)="signup()">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="emailVerification" class="email-verify">
    <h3>
      A verification link has been sent to your email. Please verify it first.
    </h3>
  </div>

  <app-footer></app-footer>
</div>
