<mat-card class="post-card">
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>What's happening?</mat-label>
      <textarea
        matInput
        rows="4"
        placeholder="Tweet your reply"
        [formControl]="postFormControl"
        (change)="onPostChange()"
      ></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="tweetBtn" (click)="tweet()">Tweet</button>
  </mat-card-actions>
</mat-card>

<!-- Timeline Component -->
<app-timeline [reload]="reload"></app-timeline>
