<div class="container">
    <div class="form-container">
      <form [formGroup]="updateCurrentUserPasswordForm" class="form">

        <div class="form-line">
          <mat-form-field class="matformfield">
            <mat-label>Current Password</mat-label>
            <div class="password">
              <input
                matInput
                type="password"
                formControlName="passwordCurrent"
                maxlength="15"
                minlength="8"
              />
            </div>
          </mat-form-field>
          <p class="error">{{ errorCurrentPassword }}</p>
        </div>

        <div class="form-line">
          <mat-form-field class="matformfield">
            <mat-label>Password</mat-label>
            <div class="password">
              <input
                matInput
                type="password"
                formControlName="password"
                maxlength="15"
                minlength="8"
              />
            </div>
          </mat-form-field>
          <p class="error">{{ errorPassword }}</p>
        </div>
  
        <mat-form-field class="matformfield">
          <mat-label>Confirm Password</mat-label>
          <div class="password">
            <input
              matInput
              [type]="show ? 'text' : 'password'"
              formControlName="passwordConfirm"
              maxlength="15"
              minlength="8"
            /><i
              class="far fa-eye"
              *ngIf="eyeShown"
              id="togglePassword"
              (click)="passwordShown()"
            ></i>
            <i
              class="far fa-eye-slash"
              (click)="passwordHidden()"
              *ngIf="eyeHidden"
              aria-hidden="true"
            ></i>
          </div>
        </mat-form-field>
        <p class="error">{{ errorPasswordConfirm }}</p>
  
        <div class="actionBtn">
          <button type="submit" class="addBtn" (click)="updateCurrentUserPassword()">Update</button>
        </div>
      </form>
    </div>
    <app-footer></app-footer>
</div>
