@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.far {
  cursor: pointer;
}
.error-snackbar {
  background-color: #f44336;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 10px;
}
.success-snackbar {
  background-color: #4caf50;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 10px;
}